video {
  position: fixed;
  z-index: -1;
}

.bigText {
  left: 20%;
  font-weight: 700;
  font-size: 78px;
  color: #FFFFFF;
  text-shadow: 0px 4px 2px rgba(85, 85, 85, 0.25);
}

.smallText {
  left: 20%;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(85, 85, 85, 0.25);
}